/* Red5 Demo CSS */

div {
	font-family: Arial, Helvetica, sans-serif;
	
}

ul {
	padding: 20px;
	background-color: #FEFEFE;
}

.container {
	grid-template-columns: auto auto;
	display: grid;
}
.content_chat {
	
}

.content_debug {
	padding: 20px;
}

#worldstate {
	width: 100%;
	display: block;
}

#playerNameInput {
	width: 100%;
	display: block;
}

#currentAction {
	width: 100%;
	display: block;
}

.userEntry {
	width: 100%;
	max-width: 100%;
	display: flex;
}

.chat {
	height: 400px;
	overflow-y: scroll;
}

.input {
	width: 100%;
}

.chatLi {
	list-style: none;
}

.chatMessage{
	border: 1px solid;
	border-radius: 5px;
	list-style: none;
	padding: 10px;
	margin-bottom: 20px;
}

.user{
	background-color: lightblue;
	text-align: right;
	margin-right: 50px;
}

.bot{
	background-color: lightsalmon;
	text-align: left;
	margin-left:50px;
}

.chatbubble_user{
	width: 45px;
	height: 45px;
	text-align: right;
	float: right;
	background-color: lightblue;
	border-radius: 25px;
	vertical-align: middle;
	border: 1px solid;
	display: block;
}

.chatbubble_bot{
	width: 45px;
	height: 45px;
	text-align: left;
	float: left;
	background-color: lightsalmon;
	border-radius: 25px;
	vertical-align: middle;
	border: 1px solid;
	display: block;
}